<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body">

                            <ngb-tabset class="tab-coupon" activeId="registrationtab" #ngbTabSet (tabChange)="beforeChange($event)" >

                                <ngb-tab id="logintab">
                                    <ng-template ngbTabTitle=""><i class="icon-user mr-2"></i>Login</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                            aria-labelledby="account-tab">
                                            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm)"
                                                class="needs-validation" novalidate="">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Username"
                                                        formControlName="userName" required="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Password"
                                                        formControlName="password" required="">
                                                </div>
                                                <div class="form-button">
                                                    <button class="btn btn-primary" type="submit">Login</button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab id="registrationtab">
                                    <ng-template ngbTabTitle=""><i class="icon-unlock mr-2"></i>Registration</ng-template>
                                    <ng-template ngbTabContent>
                                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)"
                                        class="needs-validation" novalidate="">
                                        <h4>Account Details</h4>
                                        <div class="form-group row">
                                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>First
                                                Name</label>
                                            <input class="form-control col-xl-8 col-md-7" type="text"
                                                formControlName="FirstName"
                                                [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                                            <div class="col-xl-3 col-md-4"></div>
                                            <div *ngIf="submitted && f.FirstName.errors"
                                                class="col-xl-3 col-md-4 invalid-feedback">
                                                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Last
                                                Name</label>
                                            <input class="form-control col-xl-8 col-md-7" type="text"
                                                formControlName="LastName"
                                                [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                                            <div class="col-xl-3 col-md-4"></div>
                                            <div *ngIf="submitted && f.LastName.errors"
                                                class="col-xl-3 col-md-4 invalid-feedback">
                                                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom2"
                                                class="col-xl-3 col-md-4"><span>*</span>Email</label>
                                            <input class="form-control col-xl-8 col-md-7" type="email"
                                                formControlName="Email"
                                                [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                                            <div class="col-xl-3 col-md-4"></div>
                                            <div *ngIf="submitted && f.Email.errors"
                                                class="col-xl-3 col-md-4 invalid-feedback">
                                                <div *ngIf="f.Email.errors.required">Email is required</div>
                                                <div *ngIf="f.Email.errors.email">Email must be a valid email address
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom3"
                                                class="col-xl-3 col-md-4"><span>*</span>Password</label>
                                            <input class="form-control col-xl-8 col-md-7" type="password"
                                                formControlName="password"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <div class="col-xl-3 col-md-4"></div>
                                            <div class="col-xl-8 col-md-7" *ngIf="submitted && f.password.errors"
                                                class="col-xl-3 col-md-4 invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                                <div *ngIf="f.password.errors.minlength">Password must be at least 6
                                                    characters</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom4"
                                                class="col-xl-3 col-md-4"><span>*</span>Confirm Password</label>
                                            <input class="form-control col-xl-8 col-md-7" type="password"
                                                formControlName="confirmPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                            <div class="col-xl-3 col-md-4"></div>
                                            <div class="col-xl-8 col-md-7" *ngIf="submitted && f.confirmPassword.errors"
                                                class="col-xl-3 col-md-4 invalid-feedback">
                                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is
                                                    required</div>
                                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-terms">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customControlAutosizing" formControlName="UserTypeId">
                                                <label class="custom-control-label"
                                                    for="customControlAutosizing">Is Seller</label>
                                            </div>
                                        </div>
                                        <div class="form-button">
                                            <button class="btn btn-primary" type="submit">Register</button>
                                        </div>
                                    </form>
                                    </ng-template>
                                </ngb-tab>

                            </ngb-tabset>

                        </div>
                    </div>
                    <a [routerLink]="'/dashboard/default'" class="btn btn-primary back-btn">
                        <app-feather-icons [icon]="'arrow-left'"></app-feather-icons>
                        back
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>